<% if notice %>
  <div class="alert alert-info" role="alert">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-info m-2" role="alert">
    <span class="alert"><%= alert %></span>
  </div>
<% end %>